#root {
  text-align: center;
}

ul{
  list-style: none;
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.delete{
  color: red;
  cursor: pointer;
}

input:checked + span {
  text-decoration: line-through;
  background-color: rgba(143, 211, 143, 0.29);
}
